#mapid {
  height: calc(100vh - 40px);
  width: 100%;
  float: left;
}

#navigation {
  float: left; 
  background-color:#4A85BC; 
  color:#FFF; 
  font-family: "Times", Times, serif;
  font-size: 30px;
  height: 40px;  
  width:100%;
  text-align: center;
  padding-top: 5px;
}

#mapinfo {
  height: 0vh;
}

body {
  margin: 0px;
}

div {
  color: white;
}

div a {
  text-decoration: none;
}

.leaflet-popup-content {
  padding: 15 10 5 25;
  width: 275px !important;
  margin: 0;
  height: 480px;
  overflow: scroll;
}

.leaflet-popup-content-wrapper {
  border-radius: 0px;
  background: #4A85BC;
}
.leaflet-container a.leaflet-popup-close-button {
  color: white;
}

.leaflet-popup-tip {
  background: #4A85BC;
}

.name {
  color: white;
  font-size: 20px;
}

.date {
  color: white;
  font-size: 17px;
}

.location {
  color: white;
  font-size: 14px;
}

.distance {
  color: white;
  font-size: 14px;
}

h2 {
  font-size: 53px;
  font-family: "Times", Times, serif;
  color: white;
  font-weight: normal;
  margin: 0 0 5px 0;
  line-height: 1;
}

.datum {
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 32px;
  color: white;
  font-weight: lighter;
}

.link {
  text-decoration: underline;
}

.factoid {
  font-size: 24px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 26px;
  padding-top: 10px;
  color: white;
  font-weight: lighter;
  margin-left: 5px;
}

.factoid .row {
  display: table-row;
}

.factoid_wrapper {
  display: table;
}

.factoid_inner {
  display: table-cell;
}

.factoid_inner_left {
  display: table-cell;
  width: 10%;
}

.snowflake {
  height: auto;
  width: 25px;
  padding-right: 2.5px;
}

.skier {
  height: auto;
  width: 28px;
  padding-right: 2.5px;
}

.race_image {
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 80%;
  max-height: 150px;
  border: 1px solid white;
}

.infoicon {
  max-width: 90%;
  height: auto;
  margin-bottom: -3px;
}

.more_button {
  background-color: white;
  color: #4A85BC;
  border: none;
  margin-right: 20%;
  float: right;
  font-size: 20px;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 26px;
  padding: 0px 10px 0 10px;
}

.profile_text {
  color: white;
}
