<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.3/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/javascript/Proj4Leaflet-leaflet-proj-refactor/lib/proj4.js"></script>
<script src="/javascript/Proj4Leaflet-leaflet-proj-refactor/src/proj4leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.8.0/d3.min.js"></script>
<nav id="navigation">
	Ski Marathon Map
</nav>
<div id="mapid"></div>

<!-- TODO: Store CSS in another file as project gets larger -->
<style>


</style>
<link rel="stylesheet" href="/css/mainpage.css" media="screen" title="no title">
<script src="/javascript/mainpage.js"></script>
